.js-fadeIn {
  display: none;
}

.u-fadeTypeUp{
  transform: translateY(50px);
  transition: 1.5s;
  opacity: 0;
  &.is-active{
    transition: 1.5s;
    transform: translateY(0);
    opacity: 1;
  }
}


